<div class="image">
  <div class="homediv">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Airlines</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Air India</th>
        <td>India</td>
        <td>Singapore</td>
        <td>5:40</td>
        <td>3:40</td>
      </tr>
      <tr>
        <th scope="row">Spice Jet</th>
        <td>Hyderabad</td>
        <td>Mumbai</td>
        <td>12:15</td>
        <td>2:15</td>
      </tr>
      <tr>
        <th scope="row">Air Asia</th>
        <td>Delhi</td>
        <td>Kolkata</td>
        <td>5:50</td>
        <td>4:10</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>